@model WebApplication2.ViewModels.YapilacakDetay_VM

@{
    ViewData["Title"] = "Detay";
}

<h1>Detay</h1>

<div>
    <h4>YapilacakDetay_VM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanlananTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanlananTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklemeTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklemeTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YapildiMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YapildiMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAd)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
