@model IEnumerable<WebApplication1.ViewModels.KitapListe_VM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="KitapEkle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KitapId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitapAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YazarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinEviId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KitapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YazarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinEviId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detay", "KitapDetay", new { id=item.KitapId}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
